*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #D7BAE8;
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
}
div{
    background-color: black;
    width: 50em;
    border-radius: 1em;
    color: white;
    padding-bottom: 5em;
}
strong{
    color:#8531B6;
}
input[type=text]{
    height: 2.5em;
}
input[type=submit]{
    background-color: #8531B6;
}
h3{
    color: #8531B6;
}

#btnClear{
    background-color: #8531B6;
    margin-bottom: 1em;
}
@media(max-width:768px){
    h1{
        text-align: center;
    }
    form{
        display: flex;
        flex-wrap: wrap;
        gap:1rem;
        justify-content: center;
    }
    input[type=text]{
        min-width: 50vh ;
    }
    input[type=submit]{
        min-width: 20vh;
    }
    h3{
        text-align: center;
    }
    table{
        width: 50px;
    }
}